<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h1 id="heading">Multi-Agent Assistant</h1>
    <div class="Form">
      <form action="#" class="chatform">
        <div class="Formnbutton">
          <textarea
            id="inputArea"
            class="chatinput"
            type="text"
            placeholder="Enter your text here"
            name="ques"
          ></textarea>
          <div id="Buttons">
            <button class="Button" type="submit" id="submitButton">
              Submit
            </button>
            <button class="Button" id="recordButton">Record</button>
          </div>
        </div>
      </form>
    </div>
    <div class="outputarea">
      <div class="outputbox">
        <div id="finalAnswer" class="Textarea" readonly>
          {% block answer1 %}{% endblock %}
        </div>
      </div>
      <div class="outputbox">
        <div id="console" class="Consolearea" readonly>
          {% block answer2 %}{% endblock %}
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
